<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <% if body %>
    <%= render body.component do %>
      <% if avatars.any? %>
        <% if avatars.size == 1 %>
          <% avatars.each do |avatar| %>
            <%= render avatar.component do %>
              <%= avatar.content %>
            <% end %>
          <% end %>
        <% else %>
          <% [avatars.first, avatars.second].each do |avatar| %>
            <%= render avatar.component do %>
              avatar.content
            <% end %>
            <% if avatars.size >= 3 %>
              <div class="avatar avatar-more"></div>
              <% if avatars.size == 3 %>
                <% [avatars.third].each do |avatar| %>
                  <%= render avatar.component do %>
                    <%= avatar.content %>
                  <% end %>
                <% end %>
              <% elsif avatars.size > 3 %>
                <% [avatars - [avatars.first, avatars.second]].flatten.each do |avatar| %>
                  <%= render avatar.component do %>
                    <%= avatar.content %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
